100 RCDATA LOADONCALL MOVEABLE DISCARDABLE "/rdos-kernel/bios/loader/bootsec.bin"
101 RCDATA LOADONCALL MOVEABLE DISCARDABLE "/rdos-kernel/bios/loader/hdboot.bin"
102 RCDATA LOADONCALL MOVEABLE DISCARDABLE "/rdos-kernel/bios/loader/fdboot.bin"
103 RCDATA LOADONCALL MOVEABLE DISCARDABLE "/rdos-kernel/bios/loader/gptboot.bin"
104 RCDATA LOADONCALL MOVEABLE DISCARDABLE "/rdos-kernel/bios/loader/gptload.bin"
